.email-page {
    text-align: center;
    padding: 20px;
  }
  
  .email-form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
  }
  
  .email-form label {
    display: block;
    color: #333;
    margin-bottom: 10px;
  }
  
  .email-form input,
  .email-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background-color: aliceblue;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .email-form button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .email-form button:hover {
    background-color: #45a049;
  }
  
  .back-button {
    background-color: #555;
  }
  
  .back-button:hover {
    background-color: #333;
  }
  