.header-heading{
  font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 23.44px;
text-align: left;
color: #000000;
}
.back-button{
  margin-top: 2px;
  box-shadow: 0px 2px 6px 0px #DCE1EC;
  background: #F8760B;
width: 40px;
height: 40px;
margin-right: 12px;
display: flex;
align-items: center;
justify-content: center;

}
.email-history{
  padding: 30px;
}
.d-excel-btn{
  margin-left: auto;
  width: 140px;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  display: block; /* Show the dropdown when open */
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f1f1f1; /* Change background on hover */
}
